<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <title>Mika - Dashboard</title>
</head>
<body>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

    <!-- Header -->
    <% include partials/header %>

    <!-- Sidebar -->
    <% include partials/sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Wellcome</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            Mika Assistent is a assintent for smarthome opensource
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<% include partials/footer %>
</body>
</html>